{{#each items}}
<div>
    {{item}} {{!-- Homepage delete item button --}}
    <button class="delete-item-button" data-item="{{id}}">Delete Item</button>
</div>
{{/each}}

{{!-- Homepage add item button --}}
<div>
    <form class="add-item-form">
        <div class="item-select">
            <label for="add-item">Search items:</label>

            <input class="awesomplete" id="get-items" data-minchars="1" />
            <div class="button-container">
                <a><button class="standard-button" id="add-item-button">Add Item</button></a>
            </div>
        </div>
    </form>
</div>



{{!-- Homepage go to other's social suitcase button --}}
<div class="button-container">
    <a href="/social-suitcase" id="view-social-suitcase"><button class="standard-button">View Other's Social
            Suitcase</button></a>
</div>


<script src="/js/items.js" type="module"></script>