<h2 class="display-4 mx-3 pb-5 text-center">Items in Your Personal Suitcase</h2>

<div class="container">
    {{!-- Homepage add item button --}}
    <div class="row ">
        {{!-- Homepage go to other's social suitcase button --}}
        <div class="col-md-1"></div>
        <div class="col-5">
            <div class="button-container my-5">
                <a href="/social-suitcase" id="view-social-suitcase"><button
                        class="standard-button btn btn-primary">View
                        Other's Suitcase Items</button></a>
            </div>

            <div class="container">
                <form class="add-item-form">
                    <div class="item-select">
                        <label class="row" for="add-item">Search items:</label>
                        <div class="row">
                            <div class="col-xxl-6 my-1">
                                <input class="awesomplete p-1" id="get-items" data-minchars="1" />
                            </div>
                            <div class="button-container col-xxl-6 my-1">
                                <a><button class="standard-button btn btn-success" id="add-item-button ">Add
                                        Item</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {{!-- Items List --}}
            <div class="container">
                {{#each items}}
                <div class="row border border-0 rounded-1 m-1 p-1 bg-body-secondary text-black">
                    <div class="col-md-8 my-1 fs-5">{{item}} </div>{{!-- Homepage delete item button --}}
                    <button class="delete-item-button btn btn-danger col-md-4 my-1 " data-item="{{id}}">Delete
                        Item</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>





<script src="/js/items.js" type="module"></script>