<div>
    <form class="login-form">
        <div class="input-fields">
            <div class="input-field">
                {{!-- Username field --}}
                <label for="username-login">Username:</label>
                <input class="input-form" type="text" id="username" />
            </div>

            <div class="input-field">
                {{!-- Password field --}}
                <label for="password-login">Password:</label>
                <input class="input-form" type="password" id="password" />
            </div>
        </div>
        <div class="button-container">
            {{!-- Submit button --}}
            <a href="/"><button class="standard-button" type="submit">Login</button></a>
        </div>
    </form>
</div>


<h2 class="signup">Not a "Read Tech Today!" member yet? <a class="signup signup-link" href="/signup">Sign up here!</a></h2>

<script src="/js/login.js"></script>