{{!-- I'm building all the routes for the buttons and JS logic here. I'll label them and give any necessary instruction. PS. Feel free to call these buttons whatever. I'm putting generic labels on them for now.
--}}

{{!-- PHASE 1 BUTTONS --}}

{{!-- View my standard items [NAV BAR ITEM] --}}
<button></button>

{{!-- Add an item to my standard items --}}
{{!-- Delete an item from my standard items --}}
{{!-- View others standard items --}}
{{!-- Add someone else's standard item to my list (same as other route?) --}}


{{!-- PHASE 2 BUTTONS --}}
