{{!-- Social Suitcase button to add item from social suitcase to personal suitcase --}}

{{#each items}}
<div>
    {{count}}--{{item}}--{{!-- Social Suitcase add item button --}}
    <button class="add-item-button" data-item="{{item_id}}">Add Item to My Suitcase</button>
</div>
{{/each}}