{{!-- Social Suitcase button to add item from social suitcase to personal suitcase --}}
<div class="button-container">
    <a href="#" id="add-item-button"><button class="standard-button">Add Item to My Suitcase</button></a>
</div>