/* Background image */
body {
    background-image: url('../images/logo-light.png');
    background-size: contain;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 90px;
    margin-bottom: 400px;
    background-attachment: fixed;
}

/* This will create extra space at the bottom of the page to make it feel less "tight" */
main {
    padding-bottom: 100px;
}

/* Modal background transparancy */
.modal .modal-content {
    background-color: rgba(33, 37, 41, 0.93) !important; 
}


