/* Background image */
body {
    background-image: url('../images/logo-light.png');
    background-size: contain;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 90px;
    margin-bottom: 400px;
    background-attachment: fixed;
}

main {
    padding-bottom: 100px;
}