/* --------------- Global settings --------------- */
:root {
    --accent-background: #bad191;
    --main-background: #92acc1;
    --font: #1f4253;
    --border: #85bb92;
}

* {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--main-background);
    color: var(--font);
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.standard-button {
    text-align: center;
    background-color: var(--accent-background);
    padding: 10%;
    border: 2px solid var(--border);
    font-size: x-large;
}

/* --------------- Nav bar content --------------- */

nav {
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    line-height: .8;
}

.my-suitcase {
    text-align: center;
    font-size: 45px;
    background-color: var(--accent-background);
}

.dynamic-title {
    font-size: 40px;
    background-color: var(--accent-background);
}

.navlink {
    font-size: 30px;
    background-color: var(--accent-background);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    list-style: none;
    line-height: 1;
    background-color: var(--accent-background);
}

.navlink-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 70vw;
    list-style: none;
    background-color: var(--accent-background);
}

.navlink-group li {
    background-color: var(--accent-background);
}

.navlink-div {
    background-color: var(--accent-background);
}

/* --------------- Body/Main content --------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

/* --------------- Footer content --------------- */
footer {
    text-align: center;
    font-size: x-large;
    line-height: 0;
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 0%;
    flex-shrink: 0;
}

.footer-block {
    background-color: var(--accent-background);
}

/* --------------- Dashboard Content --------------- */
.content-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 2% 12% 2% 12%;
}

.content-list h2,
.content-list h3 {
    background-color: var(--accent-background);
}

.content-list h3 span {
    font-weight: 900;
    background-color: var(--accent-background);
}


/* --------------- Single Blog Content --------------- */

.blog-post {
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 2% 12% 2% 12%;
}

.content-section p {
    background-color: var(--accent-background);
    font-size: x-large;
    padding: 1% 6% 1% 6%;
}

.comment-section {
    text-align: center;
    font-size: xx-large;
}

.comment-list {
    flex-direction: column;
    margin: 2% 17% 2% 17%;
}

.comment {
    background-color: var(--accent-background);
}

.signature {
    font-style: italic;
}

.comment-input-form {
    min-width: 70vw;
    background-color: whitesmoke;
    font-size: large;
}

.comment-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-field label {
    font-size: x-large;
}

.comment-form {
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 3% 8% 3% 8%;
}

/* --------------- Login Page --------------- */
.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 4% 10% 0% 10%;
}

.input-field {
    background-color: var(--accent-background);
    font-size: xx-large;
    margin: 2%;
}

.input-field label {
    background-color: var(--accent-background);
}

.input-form {
    font-size: x-large;
    padding: 5px;
    background-color: whitesmoke;
}

.signup {
    font-size: xx-large;
    color: var(--font);
    text-align: center;
}

.signup-link {
    text-decoration: underline;
}

/* --------------- Signup Page --------------- */
.input-fields h2 {
    background-color: var(--accent-background);
}


/* --------------- New Blog Post Page --------------- */
.blog-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--accent-background);
    border: 4px solid var(--border);
    border-radius: 9px;
    margin: 4% 5% 0% 5%;
}